.md-header{
	background-color: #8C5D98;
}
.md-footer-nav{
	background-color: #9F74AA;
}
.md-footer-meta{
	background-color: #8C5D98;
}
.md-nav__title{
	background-color: #8C5D98;
}
thead{
	background-color: #9F74AA;
}

.fotos_div{
	display: inline-block;
	width:100%;
}

.hover11 span
{
	display: none;
}

.hover11{
	display:inline-block;
}
.hover11 figure img {
  	display: inline-block;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover11 figure:hover img {
	opacity: .5;
}

.hover11 figure:hover span{
	display: grid;
	position: relative;
	bottom: 70px;
	right: 5px;
	text-align: center;
}

.fotos_div img{
	display: inline-block;
	margin-right: 10px;
	border-radius: 100%;
	width: 100px;
	height: 100px;
}

:root{
	--md-primary-fg-color: #8C5D98; 
	--md-default-fg-color--lightest: #8C5D98;
	--md-footer-bg-color: #9F74AA;
	--md-footer-bg-color--dark: #8C5D98 
}
